{
    "useTabs": false,
    "tabWidth": 4,
    "printWidth": 140,
    "singleQuote": true,
    "trailingComma": "none",
    "semi": false,
    "bracketSpacing": true,
    "arrowParens": "always",
    "overrides": [
        {
            "files": ["*.yml", "*.yaml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
